
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    padding-top: 80px;
}


header{
    background: black;
    color: gold;
    padding: 20px;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 10px;
    margin: 0;
    margin-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    font-size: 20px;
}

nav ul li a:hover{
    background: gold;
    color:black
}

.dropdown{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    background: rgb(64, 63, 63);
    list-style: none;
    padding: 8px;
    margin: 0;
    width: 140px;
    border: 1px solid #8b9810;
    top: 100%;
    
}

.submenu li{
    display: block;
    margin: 2px 0;
}

.dropdown:hover .submenu{
    display: block;
}

.submenu img{
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
}

.submenu li a{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 0;
}

.logo{
    width: 100px;
    height: auto;
    margin-top: 20px;
    
}

.Bienvenida{
    background-image: url("./imagenes/fondo-bienvenida.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 150px;
    text-align: right;
    color:white;
}

.Bienvenida h2{
    font-size: 40px;
    color: gold;
    
}

.Bienvenida p{
    font-size: 18px;
    max-width: 700px;
    margin-left: auto;
    text-align: right;
}


.seccion-premium{
    padding: 40px 20px;
}

.contenedor-productos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.titulo-seccion{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-family: italic;
}
#premium .titulo-seccion{
    color: gold;
    font-size: 30px;
text-shadow: 
    -2px -2px 2px rgba(234, 124, 124, 0.5),
2px 2px 4px rgba(0, 255, 204, 0.9);

}

.producto{
    background: #fdfafa;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
}

.producto:hover{
    background-color: #bab8b8;
}

.producto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3{
    color: gold;
    font-style: italic;
    text-shadow: 2px 2px 4px #000;
}

.precio{
    margin: 5px 0;
    font-weight: bold;
}

.descripcion{
    color: #333;
    font-style: italic;
    font-size: 14px;
}

.producto button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: gold;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.producto button:hover{
    background: #c9a000;
}

.seccion-nacionales{
    margin-top: 60px;
}

.contenedor-scroll{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.seccion-cervezas{
    margin-top: 60px;
    margin-bottom: 80px;
}

.seccion-contacto{
    margin-top: 80px;
    padding: 60px 20px;
    text-align: center;
}

.contacto-info{
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    color: white;
}

.contacto-info p{
    margin: 15px 0;
    font-size: 16px;
}

.seccion-nosotros{
    display: none;
    background: rgba(0, 0, 0, 0.9); /* fondo más elegante */
    position: fixed;  /* 🔥 esto lo vuelve tipo pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#nosotros:target{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.info-nosotros{
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    position: relative;
}

.info-nosotros h2{
    color: gold;
    margin-bottom: 15px;
}

.info-nosotros p{
    font-size: 17px;
    line-height: 1.6;
}

.carrito{
    position: fixed;
    top: 0px;
    right: -400px; 
    width: 300px;
    height: 100vh;
    background: #111;
    padding: 80px 20px 20px;
    color: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 6000;
}

.carrito.activo{
    right: 0; 
}




@media (max-width: 768px){

    header{
        padding: 10px;
    }

    nav ul{
        gap: 10px;
        margin-right: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li a{
        font-size: 14px;
        padding: 5px;
    }

    .logo{
        width: 70px;
        margin-top: 0;
    }

    .Bienvenida{
        padding: 80px 20px;
        text-align: center;
    }

    .Bienvenida h2{
        font-size: 24px;
    }

    .Bienvenida p{
        font-size: 14px;
        max-width: 100%;
        text-align: center;
    }

    .contenedor-productos{
        flex-direction: column;
        align-items: center;
    }

    .producto{
        width: 90%;
    }

    .submenu{
        position: static;
        width: 100%;
        border: none;
    }
    
    .dropdown:hover .submenu{
        display: block;
    }
    


}
=======
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    padding-top: 80px;
}


header{
    background: black;
    color: gold;
    padding: 20px;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 10px;
    margin: 0;
    margin-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    font-size: 20px;
}

nav ul li a:hover{
    background: gold;
    color:black
}

.dropdown{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    background: rgb(64, 63, 63);
    list-style: none;
    padding: 8px;
    margin: 0;
    width: 140px;
    border: 1px solid #8b9810;
    top: 100%;
    
}

.submenu li{
    display: block;
    margin: 2px 0;
}

.dropdown:hover .submenu{
    display: block;
}

.submenu img{
    margin-right: 5px;
    vertical-align: middle;
    width: 16px;
}

.submenu li a{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 0;
}

.logo{
    width: 100px;
    height: auto;
    margin-top: 20px;
    
}

.Bienvenida{
    background-image: url("./imagenes/fondo-bienvenida.jpg");
    background-size: cover;
    background-position: center;
    padding: 150px 150px;
    text-align: right;
    color:white;
}

.Bienvenida h2{
    font-size: 40px;
    color: gold;
    
}

.Bienvenida p{
    font-size: 18px;
    max-width: 700px;
    margin-left: auto;
    text-align: right;
}


.seccion-premium{
    padding: 40px 20px;
}

.contenedor-productos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.titulo-seccion{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-family: italic;
}
#premium .titulo-seccion{
    color: gold;
    font-size: 30px;
text-shadow: 
    -2px -2px 2px rgba(234, 124, 124, 0.5),
2px 2px 4px rgba(0, 255, 204, 0.9);

}

.producto{
    background: #fdfafa;
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
}

.producto:hover{
    background-color: #bab8b8;
}

.producto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.producto h3{
    color: gold;
    font-style: italic;
    text-shadow: 2px 2px 4px #000;
}

.precio{
    margin: 5px 0;
    font-weight: bold;
}

.descripcion{
    color: #333;
    font-style: italic;
    font-size: 14px;
}

.producto button{
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: gold;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.producto button:hover{
    background: #c9a000;
}

.seccion-nacionales{
    margin-top: 60px;
}

.contenedor-scroll{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 20px;
}

.seccion-cervezas{
    margin-top: 60px;
    margin-bottom: 80px;
}

.seccion-contacto{
    margin-top: 80px;
    padding: 60px 20px;
    text-align: center;
}

.contacto-info{
    background: #222;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    color: white;
}

.contacto-info p{
    margin: 15px 0;
    font-size: 16px;
}

.seccion-nosotros{
    display: none;
    background: rgba(0, 0, 0, 0.9); /* fondo más elegante */
    position: fixed;  /* 🔥 esto lo vuelve tipo pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#nosotros:target{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.info-nosotros{
    background: #1a1a1a;
    padding: 40px;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.2);
    position: relative;
}

.info-nosotros h2{
    color: gold;
    margin-bottom: 15px;
}

.info-nosotros p{
    font-size: 17px;
    line-height: 1.6;
}

.carrito{
    position: fixed;
    top: 0px;
    right: -400px; 
    width: 300px;
    height: 100vh;
    background: #111;
    padding: 80px 20px 20px;
    color: white;
    box-shadow: -5px 0 15px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 6000;
}


@media (max-width: 768px){

    header{
        padding: 10px;
    }

    nav ul{
        gap: 10px;
        margin-right: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li a{
        font-size: 14px;
        padding: 5px;
    }

    .logo{
        width: 70px;
        margin-top: 0;
    }

    .Bienvenida{
        padding: 80px 20px;
        text-align: center;
    }

    .Bienvenida h2{
        font-size: 24px;
    }

    .Bienvenida p{
        font-size: 14px;
        max-width: 100%;
        text-align: center;
    }

    .contenedor-productos{
        flex-direction: column;
        align-items: center;
    }

    .producto{
        width: 90%;
    }

    .submenu{
        position: static;
        width: 100%;
        border: none;
    }
    
    .dropdown:hover .submenu{
        display: block;
    }
    


}





.carrito.activo{
    right: 0; 
}

